.feed {
    flex: 0.8;
    margin: 0 20px;

    &__inputContainer {
        background-color: #1030AD;
        padding: 10px;
        padding-bottom: 20px;
        border-radius: 10px;
        margin-bottom: 20px;

        h4 {
            color: #FFE20A;
            text-align: center;
            margin-top: 20px;
        }
    }

    &__input {
        border: 1px solid lightgray;
        background-color: white;
        border-radius: 20px;
        display: flex;
        padding: 10px;
        color: gray;
        padding-left: 15px;
    }

    form {
        display: flex;
        width: 100%;

        input {
            border: none;
            flex: 1;
            margin-left: 10px;
            outline-width: 0;
            font-weight: 600;
        }

        button {
            display: none;
        }
    }
}

@media screen and ( max-width: 1200px ) {
    .feed {
        flex: 0.7;
    }
}

@media screen and ( max-width: 800px ) {
    .feed {
        flex: 1;
        margin-top: 40px;
    }
}